* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', 'Arial', sans-serif !important;
}

.root {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
   	height: 83px;
	width: 100%;
}

.head-content {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 980px;
	justify-content: space-between;
	align-items: center;
}

.logo {
    width: 170px;
    height: 34px;
   	background: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
}

.login-form {
	display: flex;
	flex-direction: row;
}

.item {
	padding-left: 14px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 0.8em;
}

.item>p {
	color: white;
}

.item>input {
	width: 150px;
}

.item>button {
	background-color: #4267B2;
	color: white;
	border: 1px solid #29487d;
	font-weight: bold;
	padding: 1px 6px;
}

.item > a {
	color: #94ACD2;
	text-decoration: none;
}

.grad {
	background: linear-gradient(white, #D3D8E8);
}

.main {
	height: auto;
	display: flex;
	flex-direction: row;
	width: 980px;
	margin: 0 auto;
}

.left {
	margin-top: 40px;
	width: 565px;
	margin-right: 15px;
}

.wrap {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #0E385F;
	width: 450px;
}

.right {
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
}

.texting {
	padding: 20px 0;
}

.texting>h1 {
	margin-bottom: 5px;
	font-size: 36px;
}

.texting>p {
	font-size: 19px;
}

.people {
	width: 537px;
	height: 195px;
	background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/GwFs3_KxNjS.png);
}

.row1 {
	width: 100%;
}

.row1>input {
	border-radius: 5px;
	border: 1px solid lightgrey;
	padding: 8px 10px;
	font-size: 18px;
	width: 194px;
	margin-bottom: 10px;
}

.row23>input {
	padding: 8px 10px;
	font-size: 18px;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.details-wrap {
	width: 75%;
}

.details {
	font-size: 11px;
	text-decoration: none;
	color: grey;
}

.sex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	margin: 20px 5px;
	font-size: 18px;
}

.sex label {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.name {
	margin-right: 8px;
}

.fields input::-webkit-input-placeholder {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.fields input:-ms-input-placeholder {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.fields input:-moz-placeholder {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.fields input::-moz-placeholder {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.create-account-button {
	padding: 7px 20px;
	margin: 25px 0;
	font-family: 'Helvetica', 'Arial', sans-serif !important;
	font-weight: bold;
	color: white;
	background: linear-gradient(#67ae55, #578843);
	border: 1px solid;
	border-radius: 5px;
	font-size: 19px;
	border-color: #3b6e22 #3b6e22 #2c5115;
}
.bday {
	font-family: 'Helvetica', 'Arial', sans-serif !important;
	margin: 10px 0;
}

.date {
	display: flex;
	flex-direction: row;
}

.create-another-account {
	font-family: 'Helvetica', 'Arial', sans-serif !important;
	font-weight: bold;
	font-size: 13px;
	color: #666;
	margin: 10px 0;
}

.bottom {
	display: flex;
	flex-direction: column;
	width: 980px;
	margin: 0 auto;
}

.langs a {
	font-family: 'Helvetica', 'Arial', sans-serif !important;
	font-size: 13px;
	text-decoration: none;
}

.langs a:visited {
	color: #365899;
}

.langs td {
	padding-right: 5px;
}

.bottom-stuff {
	table-layout: fixed;
	overflow: visible;
}

.stuff-item {
	font-family: 'Helvetica', 'Arial', sans-serif !important;
	font-size: 13px;
	padding-right: 5px;
	color: #365899;
}

.facebook {
	font-family: 'Helvetica', 'Arial', sans-serif !important;
	font-size: 13px;
	padding: 0px 5px;
	margin: 20px 0;
	color: #666;
}