* {
	margin: 0;
	padding: 0;
}

/*body {
	background-color: #AED581;
}
*/
a {
	font-size: 24px;
}

a:link {
	color: #303F9F;
	text-decoration: none;
}

a:visited {
	color: #303F9F;
	text-decoration: none;
}

a:hover {
	color: #D84315;
	text-decoration: none;
}

a:active {
	color: #303F9F;
	text-decoration: none;
}

.root {
	width: 60%;
	margin: 0 auto;
}

li {
	list-style-type: none;
}